// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables
// https://quasar.dev/style/sass-scss-variables#variables-list

$primary   : hsl(194, 99%, 40%);
$secondary : hsl(174, 63%, 40%);
$accent    : hsl(291, 64%, 42%);

$dark      : hsl(0, 0%, 11%);
$dark-page : hsl(0, 0%, 7%);

$positive  : hsl(134, 70%, 43%);
$negative  : hsl(353, 100%, 38%);
$info      : hsl(190, 83%, 56%);
$warning   : hsl(44, 88%, 58%);
